In [1]:
import pandas as pd
import numpy as np
import random
pd.set_option('display.max_columns', None)

/var/folders/kl/zk6vhzq10g1dwngp4jd35vvr0000gp/T/ipykernel_18420/3098046952.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was too old on your system - pyarrow 10.0.1 is the current minimum supported version as of this release.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
FF_2025 = pd.read_excel('../LeagueHistory.xlsx', sheet_name='2025')
FF_2025_summary = FF_2025[['Team_Name', 'Mean']].drop(index=12)

In [8]:
FF_2025

,Team_Name,Week 1,Week 2,Week 3,Week 4,Week 5,Week 6,Week 7,Week 8,Week 9,Week 10,Week 11,Week 12,Week 13,Week 14,TOTAL,Mean,Std,Median,Year,Owner,Playoffs,Place,Wins,Losses,Diff_Baseline
0,GOBias Industries,145.62,123.280000,92.160000,105.900000,99.020000,146.300000,130.520000,173.920000,135.700000,84.620000,108.46,132.96,102.340000,140.560000,1721.360000,122.954286,25.119213,126.90,2025,Schulwolf,1.0,1.0,10.0,4.0,10.346310
1,Herbin Legends,93.58,78.440000,115.640000,120.100000,114.600000,158.820000,151.640000,109.560000,148.040000,131.620000,126.10,134.56,129.100000,95.300000,1707.100000,121.935714,23.040795,123.10,2025,Brand,1.0,2.0,10.0,4.0,9.327738
2,Blunt Dissection,77.84,141.780000,139.860000,135.100000,151.220000,87.980000,156.640000,119.560000,131.800000,147.300000,92.14,124.08,104.340000,86.400000,1696.040000,121.145714,26.674808,127.94,2025,Eli,1.0,3.0,9.0,5.0,8.537738
3,Schmaap,102.62,115.640000,91.980000,116.460000,101.240000,124.940000,121.740000,110.240000,157.380000,93.020000,104.22,109.64,125.360000,107.760000,1582.240000,113.017143,16.573330,109.94,2025,Burnett/Jasjaap,1.0,4.0,9.0,5.0,0.409167
4,Fuck wit Tre Day,122.66,76.120000,121.220000,112.460000,101.840000,75.000000,121.060000,135.620000,111.420000,128.540000,158.78,94.32,99.420000,153.340000,1611.800000,115.128571,24.966937,116.76,2025,Todd,1.0,5.0,7.0,7.0,2.520595
5,Mr. Fans Noodle Haus,119.12,114.480000,92.620000,96.780000,133.180000,126.960000,118.220000,111.680000,87.980000,106.600000,119.52,89.74,112.440000,69.200000,1498.520000,107.037143,17.586391,112.06,2025,Jay,1.0,6.0,7.0,7.0,-5.570833
6,Pay Dirt & Pylons V,113.20,114.860000,140.820000,115.080000,111.420000,102.980000,70.780000,97.760000,116.300000,137.100000,87.80,73.32,96.440000,88.860000,1466.720000,104.765714,20.770594,107.20,2025,Cam,0.0,7.0,6.0,8.0,-7.842262
7,Grip Hamilton Memorial 5k,104.88,196.400000,84.320000,114.180000,145.460000,97.240000,97.320000,69.580000,110.320000,51.620000,70.20,114.84,101.760000,83.480000,1441.600000,102.971429,35.602816,99.54,2025,Kevin,0.0,8.0,6.0,8.0,-9.636548
8,Tony Horton Hears a Who,98.62,122.000000,117.200000,107.920000,107.040000,114.940000,137.540000,109.480000,113.800000,150.500000,70.54,143.42,146.820000,131.140000,1670.960000,119.354286,21.533178,116.07,2025,Will,0.0,9.0,5.0,9.0,6.746310
9,Gee Whiz Darnell,113.36,116.700000,130.820000,106.180000,122.860000,77.440000,107.280000,102.020000,115.060000,85.840000,106.62,106.32,91.940000,148.640000,1531.080000,109.362857,18.078168,106.95,2025,Brenton,0.0,10.0,5.0,9.0,-3.245119
10,Pierogi Night,92.52,127.440000,90.240000,126.160000,128.180000,109.540000,97.060000,90.120000,109.600000,119.980000,128.12,94.86,110.400000,101.140000,1525.360000,108.954286,14.872158,109.57,2025,Mike,0.0,11.0,5.0,9.0,-3.653690
11,Sackwash Lyfe,93.62,60.740000,106.560000,156.840000,113.580000,99.800000,141.320000,87.060000,105.140000,101.780000,72.74,106.26,99.960000,119.960000,1465.360000,104.668571,24.526692,103.46,2025,Tommy,0.0,12.0,5.0,9.0,-7.939405
12,Average,106.47,115.656667,110.286667,117.763333,119.136667,110.161667,120.926667,109.716667,120.211667,111.543333,103.77,110.36,110.026667,110.481667,1576.511667,112.607976,22.445423,NaN,2025,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
FF_2025_summary

                    Team_Name        Mean
0           GOBias Industries  122.954286
1              Herbin Legends  121.935714
2            Blunt Dissection  121.145714
3                     Schmaap  113.017143
4            Fuck wit Tre Day  115.128571
5        Mr. Fans Noodle Haus  107.037143
6         Pay Dirt & Pylons V  104.765714
7   Grip Hamilton Memorial 5k  102.971429
8     Tony Horton Hears a Who  119.354286
9            Gee Whiz Darnell  109.362857
10              Pierogi Night  108.954286
11              Sackwash Lyfe  104.668571

In [90]:
std = 20.3
games = 14

def simulate_one_season_scores(df):
    Wolf_scores = np.random.normal(df.loc[0, 'Mean'], std, games)
    Brand_scores = np.random.normal(df.loc[1, 'Mean'], std, games)
    Eli_scores = np.random.normal(df.loc[2, 'Mean'], std, games)
    Burnett_scores = np.random.normal(df.loc[3, 'Mean'], std, games)

    Todd_scores = np.random.normal(df.loc[4, 'Mean'], std, games)
    Jay_scores = np.random.normal(df.loc[5, 'Mean'], std, games)
    Cam_scores = np.random.normal(df.loc[6, 'Mean'], std, games)
    Kevin_scores = np.random.normal(df.loc[7, 'Mean'], std, games)
    
    Will_scores = np.random.normal(df.loc[8, 'Mean'], std, games)
    Brenton_scores = np.random.normal(df.loc[9, 'Mean'], std, games)
    Mike_scores = np.random.normal(df.loc[10, 'Mean'], std, games)
    Tommy_scores = np.random.normal(df.loc[11, 'Mean'], std, games)

    
    SCORES = np.array([Wolf_scores, Brand_scores, Eli_scores, Burnett_scores, 
                       Todd_scores, Jay_scores, Cam_scores, Kevin_scores, 
                       Will_scores, Brenton_scores, Mike_scores, Tommy_scores])
    return(SCORES)

In [91]:
def week1(scores_array, wins_array):
    weekindex = 0

    matchups = [
        (9, 11),   # Brenton vs Tommy
        (10, 2),   # Mike vs Eli
        (4, 0),    # Todd vs Wolf
        (8, 6),    # Will vs Cam
        (7, 3),    # Kevin vs Burnett
        (1, 5)     # Brand vs Jay
    ]

    for team_a, team_b in matchups:
        if scores_array[team_a][weekindex] > scores_array[team_b][weekindex]:
            wins_array[team_a] += 1
        else:
            wins_array[team_b] += 1

    return wins_array

In [92]:
def week2(scores_array, wins_array):
    
    weekindex = 1

    Teams = {'Wolf':0, 'Brand':1, 'Eli':2, 'Burnett':3, 
             'Todd':4, 'Jay':5, 'Cam':6,'Kevin':7, 
             'Will':8, 'Brenton':9, 'Mike':10, 'Tommy': 11} 
    
    matchups = [
        (9, 0),   # Brenton vs Wolf
        (10, 5),   # Mike vs Jay
        (4, 8),    # Todd vs Will
        (2, 11),   # Eli vs Tommy
        (7, 6),    # Kevin vs Cam
        (1, 3)     # Brand vs Burnett
    ]

    for team_a, team_b in matchups:
        if scores_array[team_a][weekindex] > scores_array[team_b][weekindex]:
            wins_array[team_a] += 1
        else:
            wins_array[team_b] += 1

    return wins_array

In [93]:
def week3(scores_array, wins_array):
    
    weekindex = 2

    Teams = {'Wolf':0, 'Brand':1, 'Eli':2, 'Burnett':3, 
             'Todd':4, 'Jay':5, 'Cam':6,'Kevin':7, 
             'Will':8, 'Brenton':9, 'Mike':10, 'Tommy': 11} 
    
    matchups = [
        (9, 8),   # Brenton vs Will
        (10, 1),   # Mike vs Brand
        (4, 7),    # Todd vs Kevin
        (2, 0),   # Eli vs Wolf
        (5, 11),    # Jay vs Tommy
        (6, 3)     # Cam vs Burnett
    ]

    for team_a, team_b in matchups:
        if scores_array[team_a][weekindex] > scores_array[team_b][weekindex]:
            wins_array[team_a] += 1
        else:
            wins_array[team_b] += 1

    return wins_array

In [94]:
def week4(scores_array, wins_array):
    
    weekindex = 3

    Teams = {'Wolf':0, 'Brand':1, 'Eli':2, 'Burnett':3, 
             'Todd':4, 'Jay':5, 'Cam':6,'Kevin':7, 
             'Will':8, 'Brenton':9, 'Mike':10, 'Tommy': 11} 
    
    matchups = [
        (9, 7),    # Brenton vs Kevin
        (10, 11),  # Mike vs Tommy
        (4, 3),    # Todd vs Burnett
        (2, 8),    # Eli vs Will
        (0, 5),    # Wolf vs Jay
        (1, 6)     # Brand vs Cam
    ]

    for team_a, team_b in matchups:
        if scores_array[team_a][weekindex] > scores_array[team_b][weekindex]:
            wins_array[team_a] += 1
        else:
            wins_array[team_b] += 1

    return wins_array

In [95]:
def week5(scores_array, wins_array):
    
    weekindex = 4

    Teams = {'Wolf':0, 'Brand':1, 'Eli':2, 'Burnett':3, 
             'Todd':4, 'Jay':5, 'Cam':6,'Kevin':7, 
             'Will':8, 'Brenton':9, 'Mike':10, 'Tommy': 11} 
    
    matchups = [
        (9, 3),    # Brenton vs Burnett
        (10, 0),  # Mike vs Wolf
        (4, 6),    # Todd vs Cam
        (2, 7),    # Eli vs Kevin
        (8, 5),    # Will vs Jay
        (1, 11)     # Brand vs Tommy
    ]

    for team_a, team_b in matchups:
        if scores_array[team_a][weekindex] > scores_array[team_b][weekindex]:
            wins_array[team_a] += 1
        else:
            wins_array[team_b] += 1

    return wins_array

In [96]:
def week6(scores_array, wins_array):
    
    weekindex = 5

    Teams = {'Wolf':0, 'Brand':1, 'Eli':2, 'Burnett':3, 
             'Todd':4, 'Jay':5, 'Cam':6,'Kevin':7, 
             'Will':8, 'Brenton':9, 'Mike':10, 'Tommy': 11} 
    
    matchups = [
        (9, 6),    # Brenton vs Cam
        (10, 8),  # Mike vs Will
        (4, 1),    # Todd vs Brand
        (2, 3),    # Eli vs Burnett
        (0, 11),    # Wolf vs Tommy
        (7, 5)     # Kevin vs Jay
    ]

    for team_a, team_b in matchups:
        if scores_array[team_a][weekindex] > scores_array[team_b][weekindex]:
            wins_array[team_a] += 1
        else:
            wins_array[team_b] += 1

    return wins_array

In [97]:
def week7(scores_array, wins_array):
    
    weekindex = 6

    Teams = {'Wolf':0, 'Brand':1, 'Eli':2, 'Burnett':3, 
             'Todd':4, 'Jay':5, 'Cam':6,'Kevin':7, 
             'Will':8, 'Brenton':9, 'Mike':10, 'Tommy': 11} 
    
    matchups = [
        (9, 4),    # Brenton vs Todd
        (10, 7),  # Mike vs Kevin
        (2, 6),    # Eli vs Cam
        (8, 11),    # Will vs Tommy
        (0, 1),    # Wolf vs Brand
        (5, 3)     # Jay vs Burnett
    ]

    for team_a, team_b in matchups:
        if scores_array[team_a][weekindex] > scores_array[team_b][weekindex]:
            wins_array[team_a] += 1
        else:
            wins_array[team_b] += 1

    return wins_array

In [98]:
def week8(scores_array, wins_array):
    
    weekindex = 7

    Teams = {'Wolf':0, 'Brand':1, 'Eli':2, 'Burnett':3, 
             'Todd':4, 'Jay':5, 'Cam':6,'Kevin':7, 
             'Will':8, 'Brenton':9, 'Mike':10, 'Tommy': 11} 
    
    matchups = [
        (9, 1),    # Brenton vs Brand
        (10, 3),  # Mike vs Burnett
        (4, 2),    # Todd vs Eli
        (8, 0),    # Will vs Wolf
        (7, 11),    # Kevin vs Tommy
        (5, 6)     # Jay vs Cam
    ]

    for team_a, team_b in matchups:
        if scores_array[team_a][weekindex] > scores_array[team_b][weekindex]:
            wins_array[team_a] += 1
        else:
            wins_array[team_b] += 1

    return wins_array

In [99]:
def week9(scores_array, wins_array):
    
    weekindex = 8

    Teams = {'Wolf':0, 'Brand':1, 'Eli':2, 'Burnett':3, 
             'Todd':4, 'Jay':5, 'Cam':6,'Kevin':7, 
             'Will':8, 'Brenton':9, 'Mike':10, 'Tommy': 11} 
    
    matchups = [
        (9, 2),    # Brenton vs Eli
        (10, 6),  # Mike vs Cam
        (4, 5),    # Todd vs Jay
        (8, 1),    # Will vs Brand
        (0, 7),    # Wolf vs Kevin
        (11, 3)     # Tommy vs Burnett
    ]

    for team_a, team_b in matchups:
        if scores_array[team_a][weekindex] > scores_array[team_b][weekindex]:
            wins_array[team_a] += 1
        else:
            wins_array[team_b] += 1

    return wins_array

In [100]:
def week10(scores_array, wins_array):
    
    weekindex = 9

    Teams = {'Wolf':0, 'Brand':1, 'Eli':2, 'Burnett':3, 
             'Todd':4, 'Jay':5, 'Cam':6,'Kevin':7, 
             'Will':8, 'Brenton':9, 'Mike':10, 'Tommy': 11} 
    
    matchups = [
        (9, 5),    # Brenton vs Jay
        (10, 4),  # Mike vs Todd
        (2, 1),    # Eli vs Brand
        (8, 7),    # Will vs Kevin
        (0, 3),    # Wolf vs Burnett
        (6, 11)     #Cam vs Tommy
    ]

    for team_a, team_b in matchups:
        if scores_array[team_a][weekindex] > scores_array[team_b][weekindex]:
            wins_array[team_a] += 1
        else:
            wins_array[team_b] += 1

    return wins_array

In [101]:
def week11(scores_array, wins_array):
    
    weekindex = 10

    Teams = {'Wolf':0, 'Brand':1, 'Eli':2, 'Burnett':3, 
             'Todd':4, 'Jay':5, 'Cam':6,'Kevin':7, 
             'Will':8, 'Brenton':9, 'Mike':10, 'Tommy': 11} 
    
    matchups = [
        (9, 10),   # Brenton vs Mike
        (4, 11),   # Todd vs Tommy
        (2, 5),    # Eli vs Jay
        (8, 3),    # Will vs Burnett
        (0, 6),    # Wolf vs Cam
        (7, 1)    # Kevin vs Brand
    ]

    for team_a, team_b in matchups:
        if scores_array[team_a][weekindex] > scores_array[team_b][weekindex]:
            wins_array[team_a] += 1
        else:
            wins_array[team_b] += 1

    return wins_array

In [102]:
def week12(scores_array, wins_array):
    weekindex = 11

    matchups = [
        (9, 11),   # Brenton vs Tommy
        (10, 2),   # Mike vs Eli
        (4, 0),    # Todd vs Wolf
        (8, 6),    # Will vs Cam
        (7, 3),    # Kevin vs Burnett
        (1, 5)     # Brand vs Jay
    ]

    for team_a, team_b in matchups:
        if scores_array[team_a][weekindex] > scores_array[team_b][weekindex]:
            wins_array[team_a] += 1
        else:
            wins_array[team_b] += 1

    return wins_array

In [103]:
def week13(scores_array, wins_array):
    
    weekindex = 12

    Teams = {'Wolf':0, 'Brand':1, 'Eli':2, 'Burnett':3, 
             'Todd':4, 'Jay':5, 'Cam':6,'Kevin':7, 
             'Will':8, 'Brenton':9, 'Mike':10, 'Tommy': 11} 
    
    matchups = [
        (9, 0),   # Brenton vs Wolf
        (10, 5),   # Mike vs Jay
        (4, 8),    # Todd vs Will
        (2, 11),   # Eli vs Tommy
        (7, 6),    # Kevin vs Cam
        (1, 3)     # Brand vs Burnett
    ]

    for team_a, team_b in matchups:
        if scores_array[team_a][weekindex] > scores_array[team_b][weekindex]:
            wins_array[team_a] += 1
        else:
            wins_array[team_b] += 1

    return wins_array

In [104]:
def week14(scores_array, wins_array):
    
    weekindex = 13

    Teams = {'Wolf':0, 'Brand':1, 'Eli':2, 'Burnett':3, 
             'Todd':4, 'Jay':5, 'Cam':6,'Kevin':7, 
             'Will':8, 'Brenton':9, 'Mike':10, 'Tommy': 11} 
    
    matchups = [
        (9, 8),   # Brenton vs Will
        (10, 1),   # Mike vs Brand
        (4, 7),    # Todd vs Kevin
        (2, 0),   # Eli vs Wolf
        (5, 11),    # Jay vs Tommy
        (6, 3)     # Cam vs Burnett
    ]

    for team_a, team_b in matchups:
        if scores_array[team_a][weekindex] > scores_array[team_b][weekindex]:
            wins_array[team_a] += 1
        else:
            wins_array[team_b] += 1

    return wins_array

In [105]:
def week_fair(scores_array, wins_array, week = 12):
    
    p = np.arange(12)
    random.shuffle(p)
    
    for n in range(6):
        first = p[2*n]
        second = p[2*n+1]
    
        if scores_array[first][week-1] > scores_array[second][week-1]:
            wins_array[first] = wins_array[first] + 1
        else:
            wins_array[second] = wins_array[second] + 1
    
    return wins_array

In [118]:
def simulate_one_season_matchups(scoring_array, fair=False):
    wins_array = np.zeros(12)
    
    WINS1 = week1(scoring_array, wins_array.copy())
    WINS2 = week2(scoring_array, WINS1.copy())
    WINS3 = week3(scoring_array, WINS2.copy())
    WINS4 = week4(scoring_array, WINS3.copy())
    WINS5 = week5(scoring_array, WINS4.copy())
    WINS6 = week6(scoring_array, WINS5.copy())
    WINS7 = week7(scoring_array, WINS6.copy())
    WINS8 = week8(scoring_array, WINS7.copy())
    WINS9 = week9(scoring_array, WINS8.copy())
    WINS10 = week10(scoring_array, WINS9.copy())
    WINS11 = week11(scoring_array, WINS10.copy())
        
    if fair==False:
        WINS12 = week12(scoring_array, WINS11.copy())
        WINS13 = week13(scoring_array, WINS12.copy())
        wins_per_team = tuple(week14(scoring_array, WINS13.copy()))
    elif fair==True:
        WINS12 = week_fair(scoring_array, WINS11.copy(), week=12)
        WINS13 = week_fair(scoring_array, WINS12.copy(), week=13)
        wins_per_team = tuple(week_fair(scoring_array, WINS13.copy(), week=14))

    
    #return final results
    losses_per_team = tuple([14-w for w in wins_per_team])
    score_per_team = tuple(scoring_array.sum(axis=1))
    label_per_team =  tuple(FF_2025_summary['Team_Name'])
    standings = pd.DataFrame(np.vstack((wins_per_team, losses_per_team, score_per_team)).T, index=label_per_team)
    standings = standings.rename(columns={0:'W', 1:'L', 2:'Pts'})    
    
    standings['Pts'] = standings['Pts'].astype(float)
    standings = standings.sort_values(by=['W', 'Pts'], ascending=[False, False])
    
    standings['Place'] = np.arange(1,13)
    standings['Playoffs'] = np.where(standings['Place'] < 7, 1, 0)
    standings['Bye'] = np.where(standings['Place'] < 3, 1, 0)
    standings['Sacko'] = np.where(standings['Place'] > 11, 1, 0)
    
    places = np.array(standings['Place'])
    playoffs = np.array(standings['Playoffs'])
    byes = np.array(standings['Bye'])
    sackos = np.array(standings['Sacko'])
    
    return standings

In [119]:
simulate_one_season_matchups(simulate_one_season_scores(FF_2025_summary))

,W,L,Pts,Place,Playoffs,Bye,Sacko
GOBias Industries,13.0,1.0,1791.514243,1,1,1,0
Blunt Dissection,10.0,4.0,1741.461973,2,1,1,0
Tony Horton Hears a Who,10.0,4.0,1720.945568,3,1,0,0
Fuck wit Tre Day,8.0,6.0,1609.429236,4,1,0,0
Herbin Legends,7.0,7.0,1608.744260,5,1,0,0
Gee Whiz Darnell,7.0,7.0,1594.128328,6,1,0,0
Pierogi Night,6.0,8.0,1514.647441,7,0,0,0
Sackwash Lyfe,6.0,8.0,1474.830002,8,0,0,0
Schmaap,6.0,8.0,1429.291532,9,0,0,0
Grip Hamilton Memorial 5k,5.0,9.0,1460.854063,10,0,0,0
Mr. Fans Noodle Haus,4.0,10.0,1348.313665,11,0,0,0
Pay Dirt & Pylons V,2.0,12.0,1404.787298,12,0,0,1

In [120]:
def simulate_many_seasons(FF_summary, sims = 2, fair=False):
    '''
    @sims is the number of simulations you would like to run.
    '''
    SCORES = simulate_one_season_scores(FF_summary)
    TOTAL = simulate_one_season_matchups(SCORES, fair=fair)
    
    for i in range(1,sims):
            
        SCORES = simulate_one_season_scores(FF_summary)
        SEASON_DF = simulate_one_season_matchups(SCORES, fair=fair)
        
        for col in TOTAL.columns.values:
            TOTAL[col] = TOTAL[col]/(i+1)*i + SEASON_DF[col]/(i+1) #Average is continuously updated across trials
    return TOTAL

def clean_total(total):
    total['W'] = round(total['W'], 2)
    total['L'] = 14-total['W']
    total['Pts'] = round(total['Pts'], 2)
    total['Place'] = round(total['Place'], 2)
    total['Playoffs'] = round(total['Playoffs'], 3)*100
    total['Bye'] = round(total['Bye'], 3)*100
    total['Sacko'] = round(total['Sacko'], 3)*100
    total = total.sort_values(by='Place')
    return total

# Run simulations

In [130]:
Sims_raw = simulate_many_seasons(FF_2025_summary, sims = 100000)
Sims = clean_total(Sims_raw)

In [131]:
print(sum(Sims['W']), sum(Sims['L']))
Sims

84.02000000000001 83.97999999999999

                              W     L      Pts  Place  Playoffs   Bye  Sacko
GOBias Industries          8.95  5.05  1721.31   3.32      89.5  46.0    0.2
Herbin Legends             8.98  5.02  1706.96   3.35      89.2  45.3    0.2
Blunt Dissection           8.73  5.27  1696.28   3.67      86.6  39.3    0.3
Tony Horton Hears a Who    8.49  5.51  1670.89   4.07      82.7  32.4    0.5
Fuck wit Tre Day           7.41  6.59  1611.87   5.72      62.2  13.6    2.1
Schmaap                    7.20  6.80  1582.18   6.18      55.7  10.4    3.0
Gee Whiz Darnell           6.23  7.77  1530.78   7.74      32.3   3.8    8.1
Pierogi Night              6.10  7.90  1525.16   7.94      30.1   3.3    9.3
Mr. Fans Noodle Haus       5.91  8.09  1498.64   8.33      25.2   2.5   12.3
Pay Dirt & Pylons V        5.46  8.54  1466.64   9.04      17.2   1.4   18.9
Sackwash Lyfe              5.42  8.58  1465.61   9.10      16.6   1.3   19.5
Grip Hamilton Memorial 5k  5.14  8.86  1441.60   9.54      12.6   0.8   25.5

In [132]:
Sims2 = simulate_many_seasons(FF_2025_summary, sims = 100000, fair=True)
Sims2 = clean_total(Sims2)

In [133]:
print(sum(Sims2['W']), sum(Sims2['L']))
Sims2

84.0 84.0

                              W     L      Pts  Place  Playoffs   Bye  Sacko
GOBias Industries          9.09  4.91  1721.35   3.18      90.6  48.9    0.2
Herbin Legends             8.89  5.11  1707.50   3.46      88.4  43.4    0.3
Blunt Dissection           8.74  5.26  1696.09   3.67      86.6  39.2    0.3
Tony Horton Hears a Who    8.38  5.62  1671.02   4.20      81.5  30.2    0.5
Fuck wit Tre Day           7.53  6.47  1612.13   5.58      64.2  14.8    1.9
Schmaap                    7.08  6.92  1582.29   6.33      53.2   9.7    3.3
Gee Whiz Darnell           6.34  7.66  1531.15   7.59      34.7   4.2    7.5
Pierogi Night              6.24  7.76  1525.29   7.77      32.3   3.8    8.3
Mr. Fans Noodle Haus       5.87  8.13  1498.47   8.37      24.3   2.4   12.3
Pay Dirt & Pylons V        5.40  8.60  1466.36   9.11      16.5   1.3   19.3
Sackwash Lyfe              5.39  8.61  1465.59   9.13      16.2   1.3   19.7
Grip Hamilton Memorial 5k  5.05  8.95  1441.80   9.62      11.6   0.8   26.5

In [134]:
Sims.to_excel('SimsMatchup25.xlsx')
Sims2.to_excel('SimsRandom25.xlsx')